body {
    margin: 0;
}

#nav {
    width: 100%;
    background: linear-gradient(90deg, rgba(1,10,27,1) 0%, rgba(18,41,75,1) 48%, rgba(18,62,97,1) 100%);
}

nav {
    height: 70px;
    display: flex;
    flex-direction: row;
    margin: 0 20px;
}

#logo {
    justify-content: flex-start;
    width: 33%;
}

#logo > img {
    height: 70px;
    width: 70px;
}

#currentLocation {
    justify-content: center;
    align-self: center;
    text-align: center;
    width: 33%;
    color: #FFFFFF;
}

#playerStats {
    justify-content: flex-end;
    align-self: center;
    width: 33%;
}

#playerStats > div:nth-child(2) > img {
    height: 50px;
    width: 50px;
}

#playerStats {
    display: flex;
}

#levelStats {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#goldStats {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#playerGold {
    color: #ffd700;
}

footer {
    filter:Alpha(opacity=60);
}